{% extends 'component/LayoutStudent.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block content %}
<div style="position: -webkit-sticky; /* Safari */
            position: fixed;
            right: 12px;
            margin-top: 10px;
            z-index: -1;
            background-color: white;
            {#border-radius: 5px;#}
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 30px;
            height: 100px;box-shadow: 0 2px 6px 0 cornflowerblue" class="text-center">
        <a href="#" style="text-decoration: none;writing-mode: tb-lr; font-weight:bold;">基本信息</a>
    </div>
    <div style="position: -webkit-sticky; /* Safari */
            position: fixed;
            right: 12px;
            margin-top: 116px;
            z-index: -2;
            background-color: white;
            {#border-radius: 5px;#}
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 30px;
            height: 100px;box-shadow: 0 2px 6px 0 cornflowerblue"  class="text-center">
        <a href="#" style="text-decoration: none;writing-mode: tb-lr;color:#969696">学习行为</a>
    </div>
    <div style="position: -webkit-sticky; /* Safari */
            position: fixed;
            right: 12px;
            margin-top: 222px;
            z-index: -3;
            background-color: white;
            {#border-radius: 5px;#}
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 30px;
            height: 100px;box-shadow: 0 2px 6px 0 cornflowerblue" class="text-center">
        <a href="#" style="text-decoration: none;writing-mode: tb-lr;color:#969696">学习表现</a>
    </div>
    <div style="position: -webkit-sticky; /* Safari */
            position: fixed;
            right: 12px;
            margin-top: 328px;
            z-index: -4;
            background-color: white;
            {#border-radius: 5px;#}
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 30px;
            height: 100px;box-shadow: 0 2px 6px 0 cornflowerblue" class="text-center">
        <a href="#" style="text-decoration: none;writing-mode: tb-lr;color:#969696">学习效果</a>
    </div>
    <div style="position: -webkit-sticky; /* Safari */
            position: fixed;
            right: 12px;
            margin-top: 434px;
            z-index: -5;
            background-color: white;
            {#border-radius: 5px;#}
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 30px;
            height: 100px;box-shadow: 0 2px 6px 0 cornflowerblue" class="text-center">
        <a href="#" style="text-decoration: none;writing-mode: tb-lr;color:#969696">教师寄语</a>
    </div>
    <div class="container-fluid"
         style="margin-left: 40px;margin-right: 40px;width: auto;background-color: white;margin-top: 80px;border-radius: 10px">
        <!-- 标题 -->
        <br>
        <div class="row text-center">
            <div class="col-12">
                <h5 style="margin-top: 10px color:#101010;"><b>2022-2023学年第1学期--《数据结构》课程分析报告</b></h5>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="color:#165DFF;display: inline;margin-left: 1300px;">
                        切换课程
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">计算方法</a></li>
                        <li><a class="dropdown-item" href="#">数据库</a></li>
                        <li><a class="dropdown-item" href="#">数字电路</a></li>
                    </ul>
            </div>
        </div>
        <br>
        <!-- 头像 -->
        <div class="row text-center">
            <div class="col-12">
                <img src="{% static 'img/icons/小狗.svg' %}" class="img-circle img-thumbnail"
                     style="width:80px;height:80px;border-radius:50%">
            </div>
        </div>
        <!-- 个人信息 -->
        <div class="row text-center" style="margin-top: 10px">
            <div class="col-12">
                <h6 style="display:inline;"><b>毛浩地 | 2350210336</b></h6>
            </div>
        </div>
        <!-- 学院班级 -->
        <div class="row text-center" style="margin-top: 10px">
            <div class="col-12">
                <span style="color:#969696">信息工程学院 | 21级大数据1班</span>
            </div>
        </div>
        <!-- 学习概况(查看评价标准) -->
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-top: 10px">
                    <div class="col-1" style="width: 10px">
                        <div style="width: 4px;height:100%;background-color: #0d6efd;display: inline-block;"></div>
                    </div>
                    <div class="col-11">
                        <h6 style="color:#0d6efd;display: inline;font-size:18px"><b>学习概况</b></h6><a href="#" style="text-decoration:none"><p style="color:#969696;margin-left: 8px;font-size:14px;display: inline">(查看评价标准)</p></a>
                    </div>
                </div>
                <div class="row text-center" style="margin-top: 10px">
                    <div class="col-2 offset-2" style="margin-left: 372px;">
                        <div class="card" style="width: 195px;height:119px;border:1px; box-shadow: #C4D8F5 1px 3px 3px 2px">
                            <div class="card-body">
                                <h5 class="card-title" style="color:#F2BD42;font-size:28px;font-weight:bold;"><b>良 好</b></h5>
                                {#                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>#}
                                <p class="card-text" style="color:#969696;margin-top:25px">学习行为</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card" style="width: 195px;height:119px;border:1px; box-shadow: #C4D8F5 1px 3px 3px 2px">
                            <div class="card-body">
                                <h5 class="card-title"><b style="color:#165DFF;font-size:28px;font-weight:bold;">卓 越</b></h5>
                                {#                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>#}
                                <p class="card-text" style="color:#969696;margin-top:25px">学习表现</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card" style="width: 195px;height:119px;border:1px; box-shadow: #C4D8F5 1px 3px 3px 2px">
                            <div class="card-body">
                                <h5 class="card-title" style="color:#D95040;font-size:28px;font-weight:bold;"><b>一 般</b></h5>
                                {#                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>#}
                                <p class="card-text" style="color:#969696;margin-top:25px">学习效果</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- 学习行为 -->
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-top: 10px">
                    <div class="col-1" style="width: 10px">
                        <div style="width: 4px;height:100%;background-color: #0d6efd;display: inline-block;"></div>
                    </div>
                    <div class="col-11">
                        <h6 style="color:#0d6efd;display: inline;font-size:18px"><b>学习行为</b></h6>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-top: 10px;padding: 10px">
                    <div class="col-4" style="background-color: white;">
                        <div id="main" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                    <div class="col-4" style="background-color: white;">
                        <div id="main1" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                    <div class="col-4" style="background-color: white;">
                        <div id="main2" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 学习行为 -->
        <br>
        <!-- 学习表现 -->
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-top: 10px">
                    <div class="col-1" style="width: 10px">
                        <div style="width: 4px;height:100%;background-color: #0d6efd;display: inline-block;"></div>
                    </div>
                    <div class="col-11">
                        <h6 style="color:#0d6efd;display: inline;font-size:18px"><b>学习表现</b></h6>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-top: 10px;padding: 10px">
                    <div class="col-4" style="background-color: white;">
                        <div id="main3" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                    <div class="col-4" style="background-color: white;">
                        <div id="main4" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                    <div class="col-4" style="background-color: white;">
                        <div id="main5" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 学习表现 -->
        <br>
        <!-- 学习效果 -->
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-top: 10px">
                    <div class="col-1" style="width: 10px">
                        <div style="width: 4px;height:100%;background-color: #0d6efd;display: inline-block;"></div>
                    </div>
                    <div class="col-11">
                        <h6 style="color:#0d6efd;display: inline;font-size:18px"><b>学习效果</b></h6>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-top: 10px;padding: 10px">
                    <div class="col-4" style="background-color: white;">
                        <div id="main6" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                    <div class="col-4" style="background-color: white;">
                        <div id="main7" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                    <div class="col-4" style="background-color: white;">
                        <div id="main8" style="width: 100%;height: 410px;box-shadow: #C4D8F5 1px 1px 2px 0;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 学习效果 -->
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-top: 10px">
                    <div class="col-1" style="width: 10px">
                        <div style="width: 4px;height:100%;background-color: #0d6efd;display: inline-block;"></div>
                    </div>
                    <div class="col-11">
                        <h6 style="color:#0d6efd;display: inline;"><b>教师寄语</b></h6>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;padding: 10px">
                    <div class="col-10 offset-1">
                        <p>张金艳老师结合AI老师的建议，想和同学说：</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1" style="background-color: #DBE9FD;border-radius: 20px">
                        <div class="row">
                            <div class="col-1 offset-1">
                                <img src="{% static 'img/icons/双引号（左）.svg' %}" style="width:100px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1" style="line-height: 50px;height: 150px;text-align: center;padding: 50px;">
                                <h6 style="line-height: 1.5;display: inline-block;vertical-align: middle;color: #1F63FF;font-size:20px">
                                    <b>所有学习任务尚未完成，态度决定一切，坚持就是胜利，课中讲解知识点仍需巩固学习，请及时观看课程，按时完成并认真对待作业是一种优秀的学习手段，加油哦~</b>
                                </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 offset-10">
                                <img src="{% static 'img/icons/双引号（右）.svg' %}" style="width: 100px;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <script>
        var myChart = echarts.init(document.getElementById('main'));
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myChart2 = echarts.init(document.getElementById('main2'));

        option = {
            title : {
                text : ""
            },
            toolbox: {
            show : false,
            feature : {
            mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
            },
            tooltip : {
                trigger : 'axis',
                showDelay : 0, // 显示延迟，添加显示延迟可以避免频繁切换，单位ms
                axisPointer : { // 坐标轴指示器，坐标轴触发有效
                type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
            },
            legend: {
            data:['蒸发量','降水量','平均温度']
            },
            xAxis : [
            {
            type : 'category',
            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            }
            ],
            yAxis : [
            {
            type : 'value',
            name : '水量ml'
            }],
            series : [
            {
            name:'蒸发量',
            type:'bar',
            stack: '总量',
            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
            },
            {
            name:'降水量',
            type:'bar',
            stack: '总量',
            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
            },
            {
            name:'平均温度',
            type:'line',
            yAxisIndex: 0,
            data:[4.6, 10.8, 16, 49.6, 54.3, 147.4, 311.2, 344.4,81.3, 38.8, 12.4, 5.6]
            }]
        };

        option1 = {
            title: {
                text: "上课互动次数（近7日）"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    type: 'bar',
                    data: [
                        10,
                        22,
                        28,
                        {
                            value: 43,
                            // 设置单个柱子的样式
                            itemStyle: {
                                color: '#91cc75',
                                shadowColor: '#91cc75',
                                borderType: 'dashed',
                                opacity: 0.5
                            }
                        },
                        49
                    ],
                    itemStyle: {
                        barBorderRadius: 5,
                        borderWidth: 1,
                        borderType: 'solid',
                        borderColor: '#73c0de',
                        shadowColor: '#5470c6',
                        shadowBlur: 3
                    }
                }
            ]
        };

        option2 = {
            title: {
                text: "学习讨论分析",
                left: 'center',
                subtext: "{a|日均讨论次数超过同课程15%学生，请继续加油！}",
                sublink: '#',
                subtarget: 'self',
                subtextStyle: {
                    rich: {
                        a: {
                             backgroundColor: '#F9E0C7',
                             color:'black',
                             fontWeight: "600",
                             fontFamily: "Arial",
                             height: 22,
                             width:380,
                             fontSize: 14
                            }
                          }
                }
            },
            textStyle: {
                fontStyle: 'normal',
                fontWeight: 'normal',
            },
            tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            grid : {
                top : '20%',
				bottom : '10%'
			},
            legend: {
                orient: 'horizontal',
                x:'center',
                y:'bottom',
                data:['讨论次数','课程平均值']
            },
            xAxis: {
                data: ["3.1","3.2","3.3","3.4","3.5","3.6"]
            },
            yAxis: {
                data1: ["3","6","9","12","15"]
            },
            series: [{
                name: '讨论次数',
                type: 'line',
                data: [7, 13, 12, 10, 8, 15]
            },
            {
                name: '课程平均值',
                type: 'line',
                data: [5, 10, 9, 7, 6, 12]
            }]
        };
        myChart.setOption(option);
        myChart1.setOption(option1);
        myChart2.setOption(option2);

        var myChart = echarts.init(document.getElementById('main3'));
        var myChart1 = echarts.init(document.getElementById('main4'));
        var myChart2 = echarts.init(document.getElementById('main5'));

        option3 = {
            title: {
                text: "上课出勤情况（近7日）"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    data: [10, 22, 28, 23, 19],
                    type: 'line',
                    smooth: true
                }
            ]
        };

        option4 = {
            title: {
                text: "上课互动次数（近7日）"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    type: 'bar',
                    data: [
                        10,
                        22,
                        28,
                        {
                            value: 43,
                            // 设置单个柱子的样式
                            itemStyle: {
                                color: '#91cc75',
                                shadowColor: '#91cc75',
                                borderType: 'dashed',
                                opacity: 0.5
                            }
                        },
                        49
                    ],
                    itemStyle: {
                        barBorderRadius: 5,
                        borderWidth: 1,
                        borderType: 'solid',
                        borderColor: '#73c0de',
                        shadowColor: '#5470c6',
                        shadowBlur: 3
                    }
                }
            ]
        };

        option5 = {
            title: {
                text: "上课互动类型（近7日）"
            },
            xAxis: {},
            yAxis: {
                data: ['抢答', '点名', '小组', '投票']
            },
            series: [
                {
                    type: 'bar',
                    data: [
                        10,
                        22,
                        28,
                        43
                    ],
                }
            ]
        };
        myChart.setOption(option3);
        myChart1.setOption(option4);
        myChart2.setOption(option5);

        var myChart = echarts.init(document.getElementById('main6'));
        var myChart1 = echarts.init(document.getElementById('main7'));
        var myChart2 = echarts.init(document.getElementById('main8'));

        option6 = {
            title: {
                text: "上课出勤情况（近7日）"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    data: [10, 22, 28, 23, 19],
                    type: 'line',
                    smooth: true
                }
            ]
        };

        option7 = {
            title: {
                text: "上课互动次数（近7日）"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    type: 'bar',
                    data: [
                        10,
                        22,
                        28,
                        {
                            value: 43,
                            // 设置单个柱子的样式
                            itemStyle: {
                                color: '#91cc75',
                                shadowColor: '#91cc75',
                                borderType: 'dashed',
                                opacity: 0.5
                            }
                        },
                        49
                    ],
                    itemStyle: {
                        barBorderRadius: 5,
                        borderWidth: 1,
                        borderType: 'solid',
                        borderColor: '#73c0de',
                        shadowColor: '#5470c6',
                        shadowBlur: 3
                    }
                }
            ]
        };

        option8 = {
        title: [{
                text: "任务点完成分布（近7日）",
                left: 'center',
                subtext: "{a|任务点完成率超同课程18%学生，请继续加油！}",
                subtextStyle: {
                    rich: {
                        a: {
                             backgroundColor: '#f9d7d9',
                             color:'black',
                             fontWeight: "600",
                             fontFamily: "Arial",
                             height: 22,
                             width:380,
                             fontSize: 14
                            }
                          }
                }
            },
            {
                text: "任务点已完成/任务点应完成：18/50",
                left:'center',
                textStyle:{
                color:'#4082FA',

                }
            },
        {
            text: '达标率\n',
            textStyle:{
                    color:'#4082FA',
                    fontSize: 12
                    },
            subtext:"{a|41.74%}",
            subtextStyle: {
                    rich: {
                        a: {
                             color:'#4082FA',
                             fontWeight: "600",
                             fontFamily: "Arial",
                             fontSize: 28
                            }
                          }
                },
            left: 'center',
            top: 'center'
        }],
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
        //图例，每个图表最多仅有一个图例
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['第一部分','第二部分']
        },
        series: [
            {
                type: 'pie',
                data: [
                    {
                        value: 18
                    },
                    {
                        value: 50
                    }
                ],
                radius: ['45%', '60%'],
                center: ["50%", "60%"]
            }
        ]
    };
        myChart.setOption(option6);
        myChart1.setOption(option7);
        myChart2.setOption(option8);
    </script>
{% endblock %}
