{% load static %}
<link href="{% static 'css/custom/component/BasicDataStatistics.css' %}">
<div class="row row_exter">
    <hr style="color:#c3d3db">
    <div class="col-3 bds_col_box" style=" border-style:none;">
        <div class="row">
            <div class="col-4 bds_col_img" style="border:0">
                <img src="{% static 'img/icons/活跃师生数.png' %}" alt="Logo" width="35" height="35"
                     class="m-auto">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-8 bds_title" style="">
                        <p>活跃师生数</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 bds_data" >
                        <h3><b>62173</b></h3>
                    </div>
                    <div class="col-2">
                        个
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 bds_col_box" style=" border-style:none;">
        <div class="row">
            <div class="col-4 bds_col_img">
                <img src="{% static 'img/icons/课程资源数.png' %}" alt="Logo" width="35" height="35"
                     class="m-auto">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-8 bds_title">
                        <p>课程资源数</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 bds_data">
                        <h3><b>368</b></h3>
                    </div>
                    <div class="col-2">
                        个
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 bds_col_box" style=" border-style:none;">
        <div class="row">
            <div class="col-4 bds_col_img">
                <img src="{% static 'img/icons/学习行为数.png' %}" alt="Logo" width="35" height="35"
                     class="m-auto">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-8 bds_title">
                        <p>学习行为数</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 bds_data">
                        <h3><b>887</b></h3>
                    </div>
                    <div class="col-2">
                        个
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-4 bds_col_img">
                <img src="{% static 'img/icons/知识单元数.png' %}" alt="Logo" width="35" height="35"
                     class="m-auto">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-8 bds_title">
                        <p >知识单元数</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 bds_data">
                        <h3><b>341</b></h3>
                    </div>
                    <div class="col-2">
                        个
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bds_hr_bottom" style="color:#c3d3db">
</div>