{% load static %}

<div class="row nw_row_all">
    <div class="col-12 col_inner">
        <div class="row">
            <div class="col-8 title">
                <h5>最新预警</h5>
            </div>
            <div class="col-4 management">
                <a>查看更多</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="col-10 text_warning">
                <p>赵X鸣同学已连续8次未完成课上签到</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="col-10 text_warning">
                <p>吴X磊同学已连续9次未完成课上签到</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="col-10 text_warning">
                <p>赵X杰同学已连续6次未完成课上签到</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="col-10 text_warning">
                <p>洪X洁同学已连续6次未完成课上签到</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="col-10 text_warning">
                <p>洪X洁同学已连续6次未完成课上签到</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="col-10 text_warning">
                <p>洪X洁同学已连续6次未完成课上签到</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="col-10 text_warning">
                <p>洪X洁同学已连续6次未完成课上签到</p>
            </div>
        </div>
    </div>
</div>