{% load static %}

<div class="row sm_row_all">
    <div class="col-12 col_inner">
        <div class="row">
            <div class="col-8 title">
                <h5>系统管理</h5>
            </div>
            <div class="col-4 management">
                <a>查看更多</a>
            </div>
        </div>
        <div class="row sm_main_body">
            <div class="col">
                <p class="sm_main_text">用户管理</p>
                <p class="sm_main_text">角色管理</p>
            </div>
            <div class="col">
                <p class="sm_main_text">权限管理</p>
                <p class="sm_main_text">数据资产</p>
            </div>
        </div>
    </div>
</div>