{% load static %}
<div class="row fe_row_all">
    <div class="col-12 col_inner">
        <div class="row">
            <div class="col-8 title">
                <h5>快捷入口</h4>
            </div>
            <div class="col-4 management">
                <a>管理</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 fe_icon_p">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    <p>学前诊断</p>
                </a>
            </div>
            <div class="col-4 fe_icon_p">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    <p>学中预警</p>
                </a>
            </div>
            <div class="col-4 fe_icon_p">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    <p>学后督导</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 fe_icon_p">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    <p >学情分析</p>
                </a>
            </div>
            <div class="col-4 fe_icon_p">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    <p>知识图谱</p>
                </a>
            </div>
            <div class="col-4 fe_icon_p">
                <a href="#">
                    <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                         class="d-inline-block align-text-top">
                    <p>知识标签</p>
                </a>
            </div>
        </div>
    </div>
</div>