{% extends 'component/Layout.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="container-fluid" style="margin-top: 70px;margin-left: 20px;margin-right: 20px;width: auto">
        {{ key }}
        <!-- 面包屑导航 -->
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/index/">
                                <img src="{% static 'img/icons/house-door.svg' %}">
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">教学数据资源</a></li>
                        <li class="breadcrumb-item active" aria-current="page">课程任务点</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- 主界面 -->
        <div class="row" style="background-color: white;border-radius: 10px;padding: 10px">
            <div class="col-12">
                <!-- 查询表格 选项 -->
                <div class="row" style=";margin-top: 10px;">
                    <div class="col">
                        <label>学年</label><input type="text" class="form-control" id="studyyear"
                                                  placeholder="请输入任务id"
                                                  style="display: inline;width: 300px;margin-left: 10px">
                    </div>
                    <div class="col">
                        <label>学年</label><input type="text" class="form-control" id="studyyear"
                                                  placeholder="请输入任务id"
                                                  style="display: inline;width: 300px;margin-left: 10px">
                    </div>
                    <div class="col">
                        <label>学年</label><input type="text" class="form-control" id="studyyear"
                                                  placeholder="请输入任务id"
                                                  style="display: inline;width: 300px;margin-left: 10px">
                    </div>
                    <div class="col">
                        <label>学年</label><input type="text" class="form-control" id="studyyear"
                                                  placeholder="请输入任务id"
                                                  style="display: inline;width: 300px;margin-left: 10px">
                    </div>
                </div>
                <div class="row" style=";margin-top: 10px">
                    <div class="col">
                        <label>学年</label><input type="text" class="form-control" id="studyyear"
                                                  placeholder="请输入任务id"
                                                  style="display: inline;width: 300px;margin-left: 10px">
                    </div>
                    <div class="col">
                        <label>学年</label><input type="text" class="form-control" id="studyyear"
                                                  placeholder="请输入任务id"
                                                  style="display: inline;width: 300px;margin-left: 10px">
                    </div>
                    <div class="col">
                        <label>学年</label><input type="text" class="form-control" id="studyyear"
                                                  placeholder="请输入任务id"
                                                  style="display: inline;width: 300px;margin-left: 10px">
                    </div>
                    <div class="col" style="text-align: left">
                        <button type="button" class="btn btn-primary" style="width: 100px">查询</button>
                        <button type="button" class="btn btn-secondary" style="width: 100px">重置</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 教学进度监控标题 -->
        <div class="row" style="margin-top: 10px">
            <div class="col">
                <h5 style="color: #0b5ed7">教学进度监控</h5>
            </div>
        </div>
        <!-- 教学进度监控主界面 -->
        <div class="row" style="background-color: white;border-radius: 10px;padding: 10px">
            <hr style="margin-top: 15px">
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                             class="m-auto">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <p>课程进度</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <h4><b>80</b></h4>
                            </div>
                            <div class="col-2">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 12px;display: inline">较昨日</p>
                        <p style="font-size: 12px;color: mediumseagreen;margin-left: 10px;display: inline">4%↓</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                             class="m-auto">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <p>学生学习进度</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <h4><b>68</b></h4>
                            </div>
                            <div class="col-2">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 12px;display: inline">较昨日</p>
                        <p style="font-size: 12px;color: mediumseagreen;margin-left: 10px;display: inline">4%↓</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                             class="m-auto">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <p>作业完成率</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <h4><b>87</b></h4>
                            </div>
                            <div class="col-2">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 12px;display: inline">较昨日</p>
                        <p style="font-size: 12px;color: orangered;margin-left: 10px;display: inline">10%↑</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                             class="m-auto">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <p>任务完成率</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <h4><b>41</b></h4>
                            </div>
                            <div class="col-2">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 12px;display: inline">较昨日</p>
                        <p style="font-size: 12px;color: orangered;margin-left: 10px;display: inline">10%↑</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="{% static 'img/icons/safe.svg' %}" alt="Logo" width="30" height="24"
                             class="m-auto">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col" style="">
                                <p>考试达标率</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <h4><b>80</b></h4>
                            </div>
                            <div class="col-2">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 12px;display: inline">较昨日</p>
                        <p style="font-size: 12px;color: mediumseagreen;margin-left: 10px;display: inline">4%↓</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <!-- 学习行为分析标题 -->
        <div class="row" style="margin-top: 10px">
            <div class="col">
                <h5 style="color: #0b5ed7">学习行为分析</h5>
            </div>
        </div>
        <!-- 学习行为分析主界面-->
        <div class="row" style="background-color: white;border-radius: 10px;padding: 10px">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div id="main" style="width: 100%;height: 410px;"></div>
                    </div>
                    <div class="col-4">
                        <div id="main1" style="width: 100%;height: 410px;"></div>
                    </div>
                    <div class="col-4">
                        <div id="main2" style="width: 100%;height: 410px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myChart2 = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        option = {
            title: {
                text: "上课出勤情况（近7日）"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    data: [10, 22, 28, 23, 19],
                    type: 'line',
                    smooth: true
                }
            ]
        };

        option1 = {
            title: {
                text: "上课互动次数（近7日）"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    type: 'bar',
                    data: [
                        10,
                        22,
                        28,
                        {
                            value: 43,
                            // 设置单个柱子的样式
                            itemStyle: {
                                color: '#91cc75',
                                shadowColor: '#91cc75',
                                borderType: 'dashed',
                                opacity: 0.5
                            }
                        },
                        49
                    ],
                    itemStyle: {
                        barBorderRadius: 5,
                        borderWidth: 1,
                        borderType: 'solid',
                        borderColor: '#73c0de',
                        shadowColor: '#5470c6',
                        shadowBlur: 3
                    }
                }
            ]
        };

        option2 = {
            title: {
                text: "上课互动类型（近7日）"
            },
            xAxis: {},
            yAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            series: [
                {
                    type: 'bar',
                    data: [
                        10,
                        22,
                        28,
                        {
                            value: 43,
                            // 设置单个柱子的样式
                            itemStyle: {
                                color: '#91cc75',
                                shadowColor: '#91cc75',
                                borderType: 'dashed',
                                opacity: 0.5
                            }
                        },
                        49
                    ],
                    itemStyle: {
                        barBorderRadius: 5,
                        borderWidth: 1,
                        borderType: 'solid',
                        borderColor: '#73c0de',
                        shadowColor: '#5470c6',
                        shadowBlur: 3
                    }
                }
            ]
        };

        option3 = {
            title: {
                text: "上课出勤情况（近7日）",
                x: 'center',
                textStyle: {
                    color: '#91cc75'
                },
                subtext: "{a|注意：近4天出勤率未达100%，点击查看未出勤学生名单}",
                subtextStyle: {
                    fontWeight: "bolder",
                    fontFamily: "Arial",
                    fontSize: 12,
                    sublink: '#',
                    subtarget: 'self',
                    rich: {
                        a: {
                            backgroundColor: '#91cc75',
                        }
                    }
                },
                {#backgroundColor: '#F9D7D9'#}
            },
            textStyle: {//主标题文本样式{"fontSize": 18,"fontWeight": "bolder","color": "#333"}
                fontStyle: 'normal',
                fontWeight: 'normal',
            },

            legend: {
                orient: 'horizontal',
                x: 'center',
                y: 'bottom',
                itemGap: 40,
                itemHeight: 5,
                data: [{
                    name: '实到人数',
                    textStyle: {fontWeight: 'bold', color: 'black'}
                }]
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [
                {
                    name: '实到人数',
                    data: [10, 22, 28, 23, 19],
                    type: 'line',
                    smooth: true
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        myChart1.setOption(option1);
        myChart2.setOption(option3);
    </script>

{% endblock %}